@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Afacad Flux", serif;

}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
background: url(https://plus.unsplash.com/premium_photo-1661962404003-e0ca40da40ef?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.container {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  max-width: 450px;

}
h2 {
  margin-bottom: 20px;
  background: linear-gradient(120deg, rgb(231, 80, 10), rgb(50, 5, 146), rgb(6, 188, 39));
  color: transparent;
  background-clip: text;
}
.form-group {
  margin-bottom: 15px;
  text-align: left;
}
label {
  font-size: 20px;
  color: black;
  margin-bottom: 5px;
}
input {
  width: 95%;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #e0e0e0;
  box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #fff;
  outline: none;
  transition: 0.3s;
}
::placeholder {
  font-size: 20px;
}
.auth-buttons button {
  margin-left: 10px;
  padding: 8px 12px;
  font-size: 20px;
  color: #555;
  background: #e0e0e0;
  border: none;
  border-radius: 10px;
}
.auth-buttons button:hover {
  box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
}
.password-container {
  position: relative;
  display: flex;
  align-items: center;
}
.toggle-password {
  position: absolute;
  right: 25px;
  background-color: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.error {
  color: red;
  font-size: 15px;
  padding: 8px;
  display: none;
}
.success {
  color: green;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}
